In [33]:
# Import modules
from bs4 import BeautifulSoup
import requests
from splinter import Browser
from selenium import webdriver
import pandas as pd
import time
from secret import username, password
from sqlalchemy import create_engine
import csv

### Mac (Irina) Connection

In [3]:
# https://splinter.readthedocs.io/en/latest/drivers/chrome.html
!which chromedriver

/usr/local/bin/chromedriver

In [4]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

### Windows (Clay) Connection

In [5]:
# executable_path = {'executable_path': 'C:/Users/Clay/chromedriver.exe'}
# browser = Browser('chrome', **executable_path, headless=False)

### First data set - Web Scrape Box Office Mojo

In [13]:
mojo_list = []
base_url = 'https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW'
page_num = 0
table_mojo_test_df = []

for i in range(0, 10000, 200):
    if page_num < 100:
        print("Printing first 200 rows.")
        url=(f"{base_url}")
        print(url)
        executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
        browser = Browser('chrome', **executable_path, headless=False)
        browser.visit(url)
        time.sleep(5)
        print("sleep 5")
        tables = pd.read_html(url)
        time.sleep(5)
        print("sleep 5")
        table_mojo_df = tables[0] # Create table from the first page
        browser.quit()
        page_num += 200
        table_mojo_test_df = table_mojo_df
#         table_page = (f"Table_{str(i)}")
#         print(table_page)
#         print(type(table_page))
#         table_page = table_mojo_df
#         print(table_page)
        # table_mojo_df.to_csv(f"csv/Table_{str(i)}.csv")
        print('-------------------------------------')
    else:
        print(f"Printing pages {i+1} to {i+200}")
        url=(f"{base_url}&offset={str(i)}")
        print(url)
        executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
        browser = Browser('chrome', **executable_path, headless=False)
        browser.visit(url)
        time.sleep(3)
        print("sleep 3")
        tables = pd.read_html(url)
        time.sleep(3)
        print("sleep 3")
        table_temp = tables[0]
        browser.quit()
        page_num += 200
        table_mojo_test_df = table_mojo_test_df.append(table_temp)
        # table_mojo_df = pd.concat(table_temp)
        # print("Concat HERE")
        # table_page = str(i)
        # table_page = (f"Table_{str(i)}")
        # print(table_page)
        # table_page = table_mojo_df
        # table_mojo_df.to_csv(f"csv/Table_{str(i)}.csv")
        print('-------------------------------------')

Printing first 200 rows.
https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW
sleep 5
sleep 5
-------------------------------------
Printing pages 201 to 400
https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset=200
sleep 3
sleep 3
-------------------------------------
Printing pages 401 to 600
https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset=400
sleep 3
sleep 3
-------------------------------------
Printing pages 601 to 800
https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset=600
sleep 3
sleep 3
-------------------------------------
Printing pages 801 to 1000
https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset=800
sleep 3
sleep 3
-------------------------------------
Printing pages 1001 to 1200
https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset=1000
sleep 3
sleep 3
-------------------------------------
Printing pages 1201 to 1400
https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset=1200
sleep 3
sleep 3
-------------------------------------
Printing pages 1401 to 1600
https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset=1400
sleep 3
sleep 3
-------------------------------------
Printing pages 1601 to 1800
https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset=1600
sleep 3
sleep 3
-------------------------------------
Printing pages 1801 to 2000
https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset=1800
sleep 3
sleep 3
-------------------------------------
Printing pages 2001 to 2200
https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset=2000
sleep 3
sleep 3
-------------------------------------
Printing pages 2201 to 2400
https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset=2200
sleep 3
sleep 3
-------------------------------------
Printing pages 2401 to 2600
https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset=2400
sleep 3
sleep 3
-------------------------------------
Printing pages 2601 to 2800
https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset=2600
sleep 3
sleep 3
-------------------------------------
Printing pages 2801 to 3000
https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset=2800
sleep 3
sleep 3
-------------------------------------
Printing pages 3001 to 3200
https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset=3000
sleep 3
sleep 3
-------------------------------------
Printing pages 3201 to 3400
https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset=3200
sleep 3
sleep 3
-------------------------------------
Printing pages 3401 to 3600
https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset=3400
sleep 3
sleep 3
-------------------------------------
Printing pages 3601 to 3800
https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset=3600
sleep 3
sleep 3
-------------------------------------
Printing pages 3801 to 4000
https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset=3800
sleep 3
sleep 3
-------------------------------------
Printing pages 4001 to 4200
https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset=4000
sleep 3
sleep 3
-------------------------------------
Printing pages 4201 to 4400
https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset=4200
sleep 3
sleep 3
-------------------------------------
Printing pages 4401 to 4600
https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset=4400
sleep 3
sleep 3
-------------------------------------
Printing pages 4601 to 4800
https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset=4600
sleep 3
sleep 3
-------------------------------------
Printing pages 4801 to 5000
https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset=4800
sleep 3
sleep 3
-------------------------------------
Printing pages 5001 to 5200
https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset=5000
sleep 3
sleep 3
-------------------------------------
Printing pages 5201 to 5400
https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset=5200
sleep 3
sleep 3
-------------------------------------
Printing pages 5401 to 5600
https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset=5400
sleep 3
sleep 3
-------------------------------------
Printing pages 5601 to 5800
https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset=5600
sleep 3
sleep 3
-------------------------------------
Printing pages 5801 to 6000
https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset=5800
sleep 3
sleep 3
-------------------------------------
Printing pages 6001 to 6200
https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset=6000
sleep 3
sleep 3
-------------------------------------
Printing pages 6201 to 6400
https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset=6200
sleep 3
sleep 3
-------------------------------------
Printing pages 6401 to 6600
https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset=6400
sleep 3
sleep 3
-------------------------------------
Printing pages 6601 to 6800
https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset=6600
sleep 3
sleep 3
-------------------------------------
Printing pages 6801 to 7000
https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset=6800
sleep 3
sleep 3
-------------------------------------
Printing pages 7001 to 7200
https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset=7000
sleep 3
sleep 3
-------------------------------------
Printing pages 7201 to 7400
https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset=7200
sleep 3
sleep 3
-------------------------------------
Printing pages 7401 to 7600
https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset=7400
sleep 3
sleep 3
-------------------------------------
Printing pages 7601 to 7800
https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset=7600
sleep 3
sleep 3
-------------------------------------
Printing pages 7801 to 8000
https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset=7800
sleep 3
sleep 3
-------------------------------------
Printing pages 8001 to 8200
https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset=8000
sleep 3
sleep 3
-------------------------------------
Printing pages 8201 to 8400
https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset=8200
sleep 3
sleep 3
-------------------------------------
Printing pages 8401 to 8600
https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset=8400
sleep 3
sleep 3
-------------------------------------
Printing pages 8601 to 8800
https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset=8600
sleep 3
sleep 3
-------------------------------------
Printing pages 8801 to 9000
https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset=8800
sleep 3
sleep 3
-------------------------------------
Printing pages 9001 to 9200
https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset=9000
sleep 3
sleep 3
-------------------------------------
Printing pages 9201 to 9400
https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset=9200
sleep 3
sleep 3
-------------------------------------
Printing pages 9401 to 9600
https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset=9400
sleep 3
sleep 3
-------------------------------------
Printing pages 9601 to 9800
https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset=9600
sleep 3
sleep 3
-------------------------------------
Printing pages 9801 to 10000
https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset=9800
sleep 3
sleep 3
-------------------------------------

In [15]:
# Save to the csv file
table_mojo_test_df.to_csv("csv_files/Dataset1_Mojo_total_gross_revenue.csv")

In [12]:
table_mojo_test_df.tail(50)

     Rank                               Title Lifetime Gross  Year
150   951              The Hitman's Bodyguard   $176,594,371  2017
151   952                              Looper   $176,506,819  2012
152   953               Serial (Bad) Weddings   $176,404,493  2014
153   954                      Dr. Dolittle 2   $176,104,344  2001
154   955                     The Italian Job   $176,070,171  2003
155   956                Ip Man 4: The Finale   $176,065,820  2019
156   957                     The Bucket List   $175,372,502  2007
157   958             Sleeping with the Enemy   $174,999,005  1991
158   959                    Cowboys & Aliens   $174,822,325  2011
159   960                            The Mule   $174,804,407  2018
160   961                George of the Jungle   $174,463,257  1997
161   962                       Evan Almighty   $174,440,724  2007
162   963                      Identity Thief   $173,965,010  2013
163   964  The Nutcracker and the Four Realms   $173,961,069  2018
164   965                   Big Momma's House   $173,959,438  2000
165   966                             In Time   $173,930,596  2011
166   967                              Amélie   $173,924,742  2001
167   968                    Operation Mekong   $173,839,072  2016
168   969   Anchorman 2: The Legend Continues   $173,649,931  2013
169   970                               Creed   $173,567,581  2015
170   971                          Gemini Man   $173,469,516  2019
171   972               The Girl on the Train   $173,185,859  2016
172   973                              Scream   $173,046,663  1996
173   974                       Cold Mountain   $173,013,509  2003
174   975                     Black Hawk Down   $172,989,651  2001
175   976            The Grand Budapest Hotel   $172,936,941  2014
176   977                  The Santa Clause 2   $172,855,065  2002
177   978                         Cloverfield   $172,394,180  2008
178   979                            Scream 2   $172,363,301  1997
179   980                     Couples Retreat   $171,844,840  2009
180   981                                Antz   $171,757,863  1998
181   982                       Blood Diamond   $171,720,398  2006
182   983                          Jackass 3D   $171,685,792  2010
183   984              No Country for Old Men   $171,627,166  2007
184   985                   Spies in Disguise   $171,616,764  2019
185   986                John Wick: Chapter 2   $171,539,887  2017
186   987                            Cocktail   $171,504,781  1988
187   988                      Chinese Zodiac   $171,339,013  2012
188   989                           Mr. Deeds   $171,269,535  2002
189   990                             Contact   $171,120,329  1997
190   991                            Superbad   $170,812,526  2007
191   992                      The Other Guys   $170,458,922  2010
192   993                      The Specialist   $170,362,582  1994
193   994                  Olympus Has Fallen   $170,270,201  2013
194   995                     Starsky & Hutch   $170,268,750  2004
195   996                      Shall We Dance   $170,128,460  2004
196   997                     Stuart Little 2   $169,956,806  2002
197   998                           Zookeeper   $169,852,759  2011
198   999                  Dumb and Dumber To   $169,837,010  2014
199  1000                  Ghost in the Shell   $169,801,921  2017

## Prepare total gross revenue data set

In [16]:
# Read the clean, combined csv file
master_df = pd.read_csv("csv_files/Dataset1_Mojo_total_gross_revenue.csv")

In [17]:
# Getting the duplicate movie by title and year released. 
duplicated_master_df = master_df.loc[master_df.duplicated(subset=["Title","Year"]), "Title"].unique()
duplicated_master_df

array(['War of the Buttons', 'My Love'], dtype=object)

In [18]:
# Get all the data for the duplicate movie 
duplicated_master_df = master_df.loc[master_df["Title"] == "War of the Buttons"]
duplicated_master_df

      Unnamed: 0  Rank               Title Lifetime Gross  Year
5984         184  5985  War of the Buttons    $15,082,409  2011
6646          46  6647  War of the Buttons    $12,326,773  2011

In [19]:
# Get all the data for the duplicate movie 
duplicated_master_df = master_df.loc[master_df["Title"] == "My Love"]
duplicated_master_df

      Unnamed: 0  Rank    Title Lifetime Gross  Year
5335         135  5336  My Love    $18,525,631  2007
8995         195  8996  My Love     $6,660,413  2007

In [20]:
# reset index
master_df.reset_index()

,index,Unnamed: 0,Rank,Title,Lifetime Gross,Year
0,0,0,1,Avengers: Endgame,"$2,797,800,564",2019
1,1,1,2,Avatar,"$2,790,439,000",2009
2,2,2,3,Titanic,"$2,195,169,138",1997
3,3,3,4,Star Wars: Episode VII - The Force Awakens,"$2,068,223,624",2015
4,4,4,5,Avengers: Infinity War,"$2,048,359,754",2018
...,...,...,...,...,...,...
9995,9995,195,9996,Sales gosses,"$5,184,002",2017
9996,9996,196,9997,Vampire Sisters 2: Bats in the Belly,"$5,182,195",2014
9997,9997,197,9998,Born in the Exile: Sandaime J Soul Brothers no...,"$5,181,032",2016
9998,9998,198,9999,All-Round Appraiser Q: The Eyes of Mona Lisa,"$5,180,116",2014
9999,9999,199,10000,War of Love,"$5,179,068",2010

In [21]:
# Drop row by index
clean_df = master_df.drop(index=master_df.index[[6643, 8994]])

In [22]:
len(clean_df)

9998

In [24]:
# Select columns
clean_df = clean_df[['Rank', 'Title', 'Year', 'Lifetime Gross']]

In [25]:
# Rename columns
total_gross_info = clean_df.rename(columns={'Rank': 'rank', 'Title': 'name_total', 
                'Year': 'year', 'GrossNumeric': 'total_revenue_usd'})

In [26]:
total_gross_info.head()

   rank                                  name_total  year  Lifetime Gross
0     1                           Avengers: Endgame  2019  $2,797,800,564
1     2                                      Avatar  2009  $2,790,439,000
2     3                                     Titanic  1997  $2,195,169,138
3     4  Star Wars: Episode VII - The Force Awakens  2015  $2,068,223,624
4     5                      Avengers: Infinity War  2018  $2,048,359,754

In [27]:
total_gross_info.set_index('rank', inplace=True)

In [28]:
total_gross_info.head()

                                      name_total  year  Lifetime Gross
rank
1                              Avengers: Endgame  2019  $2,797,800,564
2                                         Avatar  2009  $2,790,439,000
3                                        Titanic  1997  $2,195,169,138
4     Star Wars: Episode VII - The Force Awakens  2015  $2,068,223,624
5                         Avengers: Infinity War  2018  $2,048,359,754

In [29]:
# Change name column to lower case to easier join 
total_gross_info['name_total'] = total_gross_info['name_total'].str.capitalize()

In [60]:
# Drop year column
total_gross_info = total_gross_info.drop(columns='year')

In [61]:
total_gross_info.head()

                                      name_total  Lifetime Gross
rank
1                              Avengers: endgame  $2,797,800,564
2                                         Avatar  $2,790,439,000
3                                        Titanic  $2,195,169,138
4     Star wars: episode vii - the force awakens  $2,068,223,624
5                         Avengers: infinity war  $2,048,359,754

In [62]:
total_gross_info.to_csv('csv_files/Total_Gross_Info.csv')

## Dataset 2 - Kaggle domestic revenue data - Load and clean¶
#### Please download source data set - https://www.kaggle.com/danielgrijalvas/movies?select=movies.csv
#### Save in 'csv_files/datasets_2745_4700_movies.csv'

In [41]:
path = 'csv_files/datasets_2745_4700_movies.csv'

In [42]:
# Convert all rows to UTF-8 type and write to a new file
with open(path, 'r', encoding='utf-8', errors='ignore') as infile, open(path + '_UTF8.csv', 'w') as outfile:
     inputs = csv.reader(infile)
     output = csv.writer(outfile)

     for index, row in enumerate(inputs):
         # Create file with no header
         if index == 0:
             continue
         output.writerow(row)

In [43]:
# Read csv file into df
domestic_df = pd.read_csv('csv_files/datasets_2745_4700_movies.csv_UTF8.csv')

In [44]:
# Add header 
domestic_df.columns = ["budget","company","country","director","genre","gross","name","rating","released","runtime","score","star","votes","writer","year"]

In [46]:
domestic_df.head(2)

,budget,company,country,director,genre,gross,name,rating,released,runtime,score,star,votes,writer,year
0,6000000,Paramount Pictures,USA,John Hughes,Comedy,70136369,Ferris Bueller's Day Off,PG-13,6/11/86,103,7.8,Matthew Broderick,264740,John Hughes,1986
1,15000000,Paramount Pictures,USA,Tony Scott,Action,179800601,Top Gun,PG,5/16/86,110,6.9,Tom Cruise,236909,Jim Cash,1986

In [47]:
# Make names capitalized
domestic_df['name'] = domestic_df['name'].str.capitalize()

In [48]:
domestic_df.head()

,budget,company,country,director,genre,gross,name,rating,released,runtime,score,star,votes,writer,year
0,6000000,Paramount Pictures,USA,John Hughes,Comedy,70136369,Ferris bueller's day off,PG-13,6/11/86,103,7.8,Matthew Broderick,264740,John Hughes,1986
1,15000000,Paramount Pictures,USA,Tony Scott,Action,179800601,Top gun,PG,5/16/86,110,6.9,Tom Cruise,236909,Jim Cash,1986
2,18500000,Twentieth Century Fox Film Corporation,USA,James Cameron,Action,85160248,Aliens,R,7/18/86,137,8.4,Sigourney Weaver,540152,James Cameron,1986
3,9000000,Walt Disney Pictures,USA,Randal Kleiser,Adventure,18564613,Flight of the navigator,PG,8/1/86,90,6.9,Joey Cramer,36636,Mark H. Baker,1986
4,6000000,Hemdale,UK,Oliver Stone,Drama,138530565,Platoon,R,2/6/87,120,8.1,Charlie Sheen,317585,Oliver Stone,1986

In [49]:
# Getting the duplicate movie by title and year released. 
duplicated_domestic_df = domestic_df.loc[domestic_df.duplicated(subset=["name"]), "name"].unique()
duplicated_domestic_df

array(['Dream lover', 'Boiling point', "Nobody's fool", 'Heat',
       'It takes two', 'Rumpelstiltskin', 'Hamlet', 'Bulletproof',
       'The cure', 'Gladiator', 'Chocolat', 'Where the heart is',
       'Saving grace', 'The in crowd', 'Behind enemy lines', 'Out cold',
       'Pulse', 'Insomnia', 'Hero', 'Bad company', 'Crossroads',
       'The rookie', 'The hunted', 'It runs in the family',
       'The phantom of the opera', 'Man on fire', 'Taxi', 'Proof',
       'The proposition', 'Fever pitch', 'Man of the house', 'Invincible',
       'The guardian', 'Running scared', 'Fearless', 'Black sheep',
       'Hairspray', 'Sunshine', 'The hitcher', 'Flawless', 'Twilight',
       'The eye', 'Mother', 'The stepfather', 'The unborn',
       "Everybody's fine", 'Trust', 'Fair game', 'Death at a funeral',
       'Morning glory', 'The girl with the dragon tattoo', 'Priest',
       'The three musketeers', 'Jane eyre', 'Unknown', 'Trespass',
       'The avengers', 'Les misrables', 'Anna karenina', 'Project x',
       'Safe', 'Deadfall', 'Great expectations', 'Playing for keeps',
       'Much ado about nothing', 'Promised land', 'Cocktail', 'Frozen',
       'Rush', 'Beautiful creatures', 'The host', 'Stalingrad',
       'Hercules', 'Godzilla', 'Robocop', 'Teenage mutant ninja turtles',
       'Leviathan', 'The gift', 'Fantastic four', 'Concussion',
       'No escape', 'Hot pursuit', 'Max', 'Sing', 'Passengers', 'Voraz',
       'Masterminds'], dtype=object)

In [50]:
# Check duplicated movie
duplicated_domestic_df = domestic_df.loc[domestic_df["name"] == "Dream lover"]
duplicated_domestic_df

,budget,company,country,director,genre,gross,name,rating,released,runtime,score,star,votes,writer,year
191,0,Metro-Goldwyn-Mayer (MGM),USA,Alan J. Pakula,Crime,502237,Dream lover,R,4/2/86,104,5.1,Kristy McNichol,405,Jon Boorstin,1986
1651,0,PolyGram Filmed Entertainment,USA,Nicholas Kazan,Drama,256264,Dream lover,R,5/6/94,103,6.2,James Spader,3327,Nicholas Kazan,1993

In [53]:
# Drop duplicates and keep the highest revenue
domestic_gross_info = domestic_df.drop_duplicates(subset=['name'], keep='first')
len(domestic_gross_info)

6730

In [54]:
domestic_gross_info = domestic_revenue_v2.rename(columns={'gross': 'domestic_revenue_usd'})

In [55]:
domestic_gross_info.head(2)

,budget,company,country,director,genre,domestic_revenue_usd,name,rating,released,runtime,score,star,votes,writer,year
0,6000000,Paramount Pictures,USA,John Hughes,Comedy,70136369,Ferris bueller's day off,PG-13,6/11/86,103,7.8,Matthew Broderick,264740,John Hughes,1986
1,15000000,Paramount Pictures,USA,Tony Scott,Action,179800601,Top gun,PG,5/16/86,110,6.9,Tom Cruise,236909,Jim Cash,1986

In [56]:
# Write to csv file
domestic_gross_info.to_csv('csv_files/Domestic_Gross_Info.csv')

### Use pandas to push data into database

In [57]:
# Connect to the local database
connection_string = f'{username}:{password}@localhost:5432/movies_db'
engine = create_engine(f'postgresql://{connection_string}')

In [58]:
# Check existing tables
engine.table_names()

['ww_top_50_movies', 'best_200_directors']

In [64]:
# Create international revenue table in the database
international_v2.to_sql(name='international_revenue', con=engine, if_exists='append', index=False)

In [65]:
# Create domesic revenue table in the database
domestic_revenue_v2.to_sql(name='domestic_revenue', con=engine, if_exists='append', index=False)

In [66]:
engine.table_names()

['combined_revenue',
 'ww_top_50_movies',
 'international_revenue',
 'best_200_directors',
 'domestic_revenue']

### Confirm data has been added by querying the international table

In [69]:
pd.read_sql_query("select * from international_revenue", con=engine).head(2)

  name_international  year  international_revenue_usd
0  Avengers: endgame  2019                 2797800564
1             Avatar  2009                 2790439000

In [70]:
pd.read_sql_query('select * from domestic_revenue', con=engine).head(2)

,budget,company,director,genre,domestic_revenue_usd,name_domestic,rating,released,runtime,score,star,votes,writer
0,8000000,Columbia Pictures Corporation,Rob Reiner,Adventure,52287414,Stand by me,R,8/22/86,89,8.1,Wil Wheaton,299174,Stephen King
1,6000000,Paramount Pictures,John Hughes,Comedy,70136369,Ferris bueller's day off,PG-13,6/11/86,103,7.8,Matthew Broderick,264740,John Hughes

### Best movie directors of all times - web scraping

In [72]:
# Setup the urls for scraping
best_director_url  = 'https://www.imdb.com/list/ls056848274/'
best_director_url2 = 'https://www.imdb.com/list/ls056848274/?sort=list_order,asc&mode=detail&page=2'

In [73]:
# Setup the browser
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [74]:
# Visit the browser
browser.visit(best_director_url)

In [76]:
# get results by h3
results = browser.find_by_css("h3")

In [77]:
# Read the text from h3 elements in the results
list_original = []
for i in results:
    print(i.text)
    list_original.append(i.text)

1. Steven Spielberg
2. Martin Scorsese
3. Alfred Hitchcock
4. Stanley Kubrick
5. Quentin Tarantino
6. Orson Welles
7. Francis Ford Coppola
8. Ridley Scott
9. Akira Kurosawa
10. Joel Coen
11. Ethan Coen
12. John Ford
13. Sergio Leone
14. Woody Allen
15. Billy Wilder
16. Clint Eastwood
17. Frank Capra
18. Charles Chaplin
19. Christopher Nolan
20. Roman Polanski
21. Ingmar Bergman
22. David Lynch
23. Fritz Lang
24. David Fincher
25. Peter Jackson
26. Federico Fellini
27. Tim Burton
28. James Cameron
29. Sidney Lumet
30. Brian De Palma
31. François Truffaut
32. Terrence Malick
33. David Cronenberg
34. William Wyler
35. Robert Zemeckis
36. Ang Lee
37. Howard Hawks
38. George Lucas
39. Mel Brooks
40. Terry Gilliam
41. Milos Forman
42. Steven Soderbergh
43. John Huston
44. Werner Herzog
45. Oliver Stone
46. David Lean
47. Danny Boyle
48. Rob Reiner
49. Buster Keaton
50. Michael Curtiz
51. Sam Raimi
52. Michael Mann
53. Robert Altman
54. Sam Peckinpah
55. Peter Weir
56. Spike Lee
57. Jean Renoir
58. Andrei Tarkovsky
59. Elia Kazan
60. John Cassavetes
61. Vincente Minnelli
62. Hayao Miyazaki
63. Frank Darabont
64. Kathryn Bigelow
65. George Cukor
66. Ron Howard
67. John Carpenter
68. Guy Ritchie
69. Tony Scott
70. Gus Van Sant
71. Preston Sturges
72. Sergei M. Eisenstein
73. David O. Russell
74. John Frankenheimer
75. Blake Edwards
76. Ernst Lubitsch
77. Jonathan Demme
78. Alejandro G. Iñárritu
79. Sam Mendes
80. Guillermo del Toro
81. Joseph L. Mankiewicz
82. Satyajit Ray
83. Paul Thomas Anderson
84. Wes Anderson
85. Alfonso Cuarón
86. Paul Verhoeven
87. F.W. Murnau
88. Robert Wise
89. Franco Zeffirelli
90. Paul Greengrass
91. F.W. Murnau
92. Don Siegel
93. Vittorio De Sica
94. John Hughes
95. Robert Rodriguez
96. Zack Snyder
97. Mel Gibson
98. Luis Buñuel
99. Greta Gerwig
100. Krzysztof Kieslowski
List Activity
Tell Your Friends
Other Lists by ketedy
Recently Viewed

In [78]:
# Clean up the list
directors_list_100 = list_original[:100]
directors_list_100

['1. Steven Spielberg',
 '2. Martin Scorsese',
 '3. Alfred Hitchcock',
 '4. Stanley Kubrick',
 '5. Quentin Tarantino',
 '6. Orson Welles',
 '7. Francis Ford Coppola',
 '8. Ridley Scott',
 '9. Akira Kurosawa',
 '10. Joel Coen',
 '11. Ethan Coen',
 '12. John Ford',
 '13. Sergio Leone',
 '14. Woody Allen',
 '15. Billy Wilder',
 '16. Clint Eastwood',
 '17. Frank Capra',
 '18. Charles Chaplin',
 '19. Christopher Nolan',
 '20. Roman Polanski',
 '21. Ingmar Bergman',
 '22. David Lynch',
 '23. Fritz Lang',
 '24. David Fincher',
 '25. Peter Jackson',
 '26. Federico Fellini',
 '27. Tim Burton',
 '28. James Cameron',
 '29. Sidney Lumet',
 '30. Brian De Palma',
 '31. François Truffaut',
 '32. Terrence Malick',
 '33. David Cronenberg',
 '34. William Wyler',
 '35. Robert Zemeckis',
 '36. Ang Lee',
 '37. Howard Hawks',
 '38. George Lucas',
 '39. Mel Brooks',
 '40. Terry Gilliam',
 '41. Milos Forman',
 '42. Steven Soderbergh',
 '43. John Huston',
 '44. Werner Herzog',
 '45. Oliver Stone',
 '46. David Lean',
 '47. Danny Boyle',
 '48. Rob Reiner',
 '49. Buster Keaton',
 '50. Michael Curtiz',
 '51. Sam Raimi',
 '52. Michael Mann',
 '53. Robert Altman',
 '54. Sam Peckinpah',
 '55. Peter Weir',
 '56. Spike Lee',
 '57. Jean Renoir',
 '58. Andrei Tarkovsky',
 '59. Elia Kazan',
 '60. John Cassavetes',
 '61. Vincente Minnelli',
 '62. Hayao Miyazaki',
 '63. Frank Darabont',
 '64. Kathryn Bigelow',
 '65. George Cukor',
 '66. Ron Howard',
 '67. John Carpenter',
 '68. Guy Ritchie',
 '69. Tony Scott',
 '70. Gus Van Sant',
 '71. Preston Sturges',
 '72. Sergei M. Eisenstein',
 '73. David O. Russell',
 '74. John Frankenheimer',
 '75. Blake Edwards',
 '76. Ernst Lubitsch',
 '77. Jonathan Demme',
 '78. Alejandro G. Iñárritu',
 '79. Sam Mendes',
 '80. Guillermo del Toro',
 '81. Joseph L. Mankiewicz',
 '82. Satyajit Ray',
 '83. Paul Thomas Anderson',
 '84. Wes Anderson',
 '85. Alfonso Cuarón',
 '86. Paul Verhoeven',
 '87. F.W. Murnau',
 '88. Robert Wise',
 '89. Franco Zeffirelli',
 '90. Paul Greengrass',
 '91. F.W. Murnau',
 '92. Don Siegel',
 '93. Vittorio De Sica',
 '94. John Hughes',
 '95. Robert Rodriguez',
 '96. Zack Snyder',
 '97. Mel Gibson',
 '98. Luis Buñuel',
 '99. Greta Gerwig',
 '100. Krzysztof Kieslowski']

In [80]:
# Remove the rating from the string
clean_list1 = []
for i in directors_list_100:
    director = i.split('. ')[-1]
    print(director)
    clean_list1.append(director)

Steven Spielberg
Martin Scorsese
Alfred Hitchcock
Stanley Kubrick
Quentin Tarantino
Orson Welles
Francis Ford Coppola
Ridley Scott
Akira Kurosawa
Joel Coen
Ethan Coen
John Ford
Sergio Leone
Woody Allen
Billy Wilder
Clint Eastwood
Frank Capra
Charles Chaplin
Christopher Nolan
Roman Polanski
Ingmar Bergman
David Lynch
Fritz Lang
David Fincher
Peter Jackson
Federico Fellini
Tim Burton
James Cameron
Sidney Lumet
Brian De Palma
François Truffaut
Terrence Malick
David Cronenberg
William Wyler
Robert Zemeckis
Ang Lee
Howard Hawks
George Lucas
Mel Brooks
Terry Gilliam
Milos Forman
Steven Soderbergh
John Huston
Werner Herzog
Oliver Stone
David Lean
Danny Boyle
Rob Reiner
Buster Keaton
Michael Curtiz
Sam Raimi
Michael Mann
Robert Altman
Sam Peckinpah
Peter Weir
Spike Lee
Jean Renoir
Andrei Tarkovsky
Elia Kazan
John Cassavetes
Vincente Minnelli
Hayao Miyazaki
Frank Darabont
Kathryn Bigelow
George Cukor
Ron Howard
John Carpenter
Guy Ritchie
Tony Scott
Gus Van Sant
Preston Sturges
Eisenstein
Russell
John Frankenheimer
Blake Edwards
Ernst Lubitsch
Jonathan Demme
Iñárritu
Sam Mendes
Guillermo del Toro
Mankiewicz
Satyajit Ray
Paul Thomas Anderson
Wes Anderson
Alfonso Cuarón
Paul Verhoeven
Murnau
Robert Wise
Franco Zeffirelli
Paul Greengrass
Murnau
Don Siegel
Vittorio De Sica
John Hughes
Robert Rodriguez
Zack Snyder
Mel Gibson
Luis Buñuel
Greta Gerwig
Krzysztof Kieslowski

In [81]:
# Open second page
browser.visit(best_director_url2)

In [82]:
results2 = browser.find_by_css("h3")

In [83]:
original_list2 = []
for i in results2:
#     print(i.text)
    original_list2.append(i.text)

In [84]:
directors_list2 = original_list2[:100]

In [85]:
clean_list2 = []
for i in directors_list2:
    director = i.split('. ')[-1]
    clean_list2.append(director)

In [86]:
clean_list2

['Jean-Luc Godard',
 'Tom Hooper',
 'William Friedkin',
 'Antoine Fuqua',
 'Sydney Pollack',
 'Bernardo Bertolucci',
 'John Lasseter',
 'David Ayer',
 'Abrams',
 'Mike Nichols',
 'Lars von Trier',
 'John Milius',
 'John McTiernan',
 'Costa-Gavras',
 'DeMille',
 'Darren Aronofsky',
 'Luc Besson',
 'Doug Liman',
 'Bryan Singer',
 'Richard Linklater',
 'Anthony Minghella',
 'Curtis Hanson',
 'Michael Haneke',
 'Griffith',
 'Alan Parker',
 'Edgar Wright',
 'Pedro Almodóvar',
 'Barry Levinson',
 'Michelangelo Antonioni',
 'Cameron Crowe',
 'Jim Jarmusch',
 'Vittorio De Sica',
 'Spike Jonze',
 'Harold Ramis',
 'Michael Moore',
 'Shane Meadows',
 'Ken Loach',
 'Bobby Farrelly',
 'Jacques Audiard',
 'Gore Verbinski',
 'Jay Roach',
 'Jim Sheridan',
 'John Landis',
 'Richard Donner',
 'Jason Reitman',
 'Robert Redford',
 'Andrew Dominik',
 'Joss Whedon',
 'George Miller',
 'David Zucker',
 'Romero',
 'Mike Leigh',
 'Russell',
 'Neil Jordan',
 'Wilfred Jackson',
 'Pakula',
 'George Roy Hill',
 'Michael Powell',
 'Richard Donner',
 'John Woo',
 'Sofia Coppola',
 'Sofia Coppola',
 'Takashi Miike',
 'Brad Bird',
 'Alex Gibney',
 'Bob Foss',
 'Carol Reed',
 'Christopher Guest',
 'Otto Preminger',
 'Peter Bogdanovich',
 'David Yates',
 'Wes Craven',
 'Kevin Smith',
 'Fred Zinnemann',
 'Ava DuVernay',
 'Jean-Pierre Jeunet',
 'George Stevens',
 'Frank Lloyd',
 'Wim Wenders',
 'Georges Méliès',
 'Wolfgang Petersen',
 'Leo McCarey',
 'Lewis Milestone',
 'Éric Rohmer',
 'Lilly Wachowski',
 'Neill Blomkamp',
 'Warren Beatty',
 'Pier Paolo Pasolini',
 'Kar-Wai Wong',
 'Robert Bresson',
 'Emir Kusturica',
 'Yasujirô Ozu',
 'John Lasseter',
 'Michael Haneke',
 'Takeshi Kitano',
 'Theodoros Angelopoulos',
 'James Whale',
 'Terence Fisher',
 'Chuck Jones',
 'Luchino Visconti']

In [88]:
# Combined two lists together
directors = clean_list1 + clean_list2

In [89]:
len(directors)

200

In [90]:
directors_df = pd.DataFrame(directors)

In [91]:
len(directors_df)

200

In [92]:
# Rename the column
directors_df.rename(columns={0: 'directors'}, inplace=True)

In [93]:
directors_df.reset_index()

     index               directors
0        0        Steven Spielberg
1        1         Martin Scorsese
2        2        Alfred Hitchcock
3        3         Stanley Kubrick
4        4       Quentin Tarantino
..     ...                     ...
195    195  Theodoros Angelopoulos
196    196             James Whale
197    197          Terence Fisher
198    198             Chuck Jones
199    199        Luchino Visconti

[200 rows x 2 columns]

In [94]:
# Save directors to csv
directors_df.to_csv('Resources/Best_directors_200.csv')

#### Push Directors df to the database

In [95]:
directors_df.to_sql(name='best_200_directors', con=engine, if_exists='append', index=False)

In [96]:
# Check if written
pd.read_sql_query('select * from best_200_directors', con=engine).head()

           directors
0   Steven Spielberg
1    Martin Scorsese
2   Alfred Hitchcock
3    Stanley Kubrick
4  Quentin Tarantino

In [97]:
engine.table_names()

['combined_revenue',
 'ww_top_50_movies',
 'international_revenue',
 'best_200_directors',
 'domestic_revenue']